QObject
{
	color: white; 
	background: rgb(50,50,50);
}

QTabWidget::pane 
{
    background: rgb(50,50,50);
}


QTabBar::tab
{
	background-color: rgb(40,40,40);
}


QPlainTextEdit
{
	background-color: black;
}

QPushButton
{
	background-color: black;
} 

QPushButton:hover, QMenuBar::item:selected, QMenu::item:selected
{
	background-color: rgb(40,40,40);
}