QWidget, QMenuBar::item 
{
	color: white; 
	background-color: rgb(50,50,50);
} 

QPlainTextEdit 
{
	background-color: black;
}

QPushButton
{
	background-color: black;
} 

QPushButton:hover, QMenuBar::item:selected, QMenu::item:selected
{
	background-color: rgb(40,40,40);
}