QWidget, QMenuBar::item 
{
	color: black; 
	background-color: rgb(240,240,240);
}

QPlainTextEdit
{
	background-color: white;
	selection-background-color: #1E90FF;
} 

QPushButton
{
	background-color: white;
} 

QPushButton:hover, QMenuBar::item:selected, QMenu::item:selected
{
	background-color: rgb(230,230,230);
}